  <!-- Start main left sidebar menu -->
        <div class="main-sidebar sidebar-style-3">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="index-2.html">Forewin GH</a>
                </div>
                <div class="sidebar-brand sidebar-brand-sm">
                    <a href="index-2.html">CP</a>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-header">Dashboard</li>
                    <li class="dropdown active">
                        <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Dashboard</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/">Dashboard</a></li>
                            
                        </ul>
                    </li>
                   
                   
                   <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="far fa-file-alt"></i> <span>User</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/users/connect_users">Create Agent</a></li>
                            <li><a class="nav-link" href="/users/users_table">View Users</a></li>
                           
                        </ul>
                    </li>
                     <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Outlets</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/connect/connect">Create Outlets</a></li>
                           
                           
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa-brands fa-creative-commons-by"></i><span>Active</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/active/users">Active Users</a></li>
                           
                           
                        </ul>
                    </li>
                 
                    <li class="menu-header">Pages</li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>View Outlet</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/connect/outlets">All Outlets</a></li>
                           <li><a href="/connect/daily_users">Agent Visit Outlets</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                                            <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Daily Activities</span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="/connect/daily_activities">Activities</a></li>
                                               <!--<li><a href="/connect/daily_users">Agent Visit Outlets</a></li>-->
                                            </ul>
                                        </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fas fa-map-marker-alt"></i> <span>Maps</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/map/mapview">View Map</a></li> 
                            
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa-solid fa-chart-simple"></i> <span>Chart</span></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="/report/view_report">Chart Report</a></li> 
                            
                        </ul>
                    </li>
                   
                   <li class="menu-header">Settings</li>
                    <li class="dropdown">
                        <a href="#" class="nav-link has-dropdown"><i class="fa-solid fa-gear"></i></i> <span>User Account Settings</span></a>

                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="errors-503.html">User Settings</a></li>
                            <li><a class="nav-link" href="/connect/email_activity">User Email</a></li>
                            
                        </ul>
                    </li>
                   
                </ul>
                <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                    <a href="#" class="btn btn-primary btn-lg btn-block btn-icon-split"><i class="fas fa-rocket"></i> FOREWIN-GH</a>
                </div>
            </aside>
        </div>