
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<div id="app">
<div class="main-wrapper main-wrapper-1">
    <div class="navbar-bg"></div>
{{>nav}}
{{>sidemenu}}
    


    <!-- Start app main Content -->
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Report</h1>
              
            </div>

            <div class="section-body">
                <h2 class="section-title">Shop Report</h2>
               

                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Outlets Report</h4>
                            </div>
                            <div class="card-body">
                              <h3>ConnectGH Report</h3>
                           <canvas id="myChart" style="width:300%;max-width:2000px"></canvas>
    
                            </div>
                        </div>
                      
                       
                         <!--end-->
                      
                    </div>

                </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Start app Footer part -->
    {{>footer}}
</div>
</div>

   
